.venv
.conda
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.swp
*.tmp
*.egg-info/
dist/
build/
*.egg
.env
.env.*
*.env
*.pem
*.key
*.crt
*.p12
*.keystore
*.sqlite
*.sqlite3
*.log
step1/.venv/
step1/myenv/
step1/.vscode/
step1/data/credit_card_transactions.csv
data/credit_card_transactions.csv
step1/notebooks/data
