langchain
langchain-core
langchain-openai
langchain-google-genai
gradio
fastapi
uvicorn
pymupdf  # pdf processing
pdfplumber # pdf processing
easyocr # OCRpipo
langchain-text-splitters # 텍스트 청킹용
tiktoken # 토큰 계산용
chromadb # 임베딩 저장
langchain-chroma # 랭체인과 크로마DB 연동용
sentence-transformers # 임베딩 모델용
langchain-community  # 랭체인 커뮤니티에서 제공하는 추가 기능들
pypdf # PDF 텍스트 추출용 (pdfplumber와 함께 사용)

langgraph>=0.3

